@import "../../node_modules/bootstrap/scss/bootstrap";


$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px,
  // Extra large screen / wide desktop
  xxl: 1440px,
);

body{
  font-family: 'Open Sans', sans-serif;
  color:#333;
}
a:hover{
  text-decoration: none;
}
label{
  font-size: 14px;
}
button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
}
footer{
  margin-bottom: 20px;
}
header{
  position: relative;
  min-height: 400px;
  background: url(../images/header.jpg) top center no-repeat;
  background-size: cover;
  padding-bottom: 30px;
  &:before{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.25057773109243695) 0%, rgba(0,0,0,0.7035189075630253) 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

//custom container
.container{
  @include media-breakpoint-up(xxl){
    max-width: 1400px!important;
  }
  @include media-breakpoint-down(xl){
    max-width: 1200px!important;
  }
  @include media-breakpoint-down(lg){
    max-width: 960px!important;
  }
}
//custom container

//Navbar
.navbar-brand{
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}
.nav-item{
  .nav-link{
    color:#fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    opacity: 0.8;
    padding: 0 15px!important;
  }
}
.navbar{
  @include media-breakpoint-down(sm){
    background-color: #fff;
    .navbar-brand{
      color:#333;
    }
    .nav-link{
      color:#333;
      margin:10px 0;
      text-align: center;
    }
  }
}
.navbar-toggler{
  outline: 0;
  position: relative;
}
// .navbar-toggler-icon{
//   background: url("../images/menu.png") no-repeat center center;
//   background-size: 30px 30px;
// }
//navbar

//hamburger
#burgermenu{
  width: 30px;
  display: block;
  position: relative;  
  margin: -10px auto 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
    }
    &:nth-child(2), &:nth-child(3) {
      top: 8px;
    }
    &:nth-child(4) {
      top: 16px;
    }
  }
  &.open{
    span{
      &:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
      &:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
//hamburger

.grey{
  background-color: rgb(235, 235, 235);
}
.btn{
  padding: 7px 30px;
  font-size: 14px;
  border-radius: 7px;
}

//Progress Bar
.progress {
  width: 250px;
  height: 250px;
  background: none;
  position: relative;
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-left {
    left: 0;
    .progress-bar {
      left: 100%;
      border-top-right-radius: 125px;
      border-bottom-right-radius: 125px;
      border-left: 0;
      -webkit-transform-origin: center left;
      transform-origin: center left;
    }
  }
  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: 125px;
      border-bottom-left-radius: 125px;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
    }
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
}
//Progress Bar


//sidebar
.sidebar{
  p{
    font-size: 14px;
    margin-bottom: 25px;
  }
}
.left-side{
  background: url(../images/img.jpg) center center no-repeat;
  background-size: cover;
  @include media-breakpoint-down(sm){
    min-height: 400px;
  }
}
.right-side{
  background:#333;
  padding: 8%;
}
//sidebar

//Footer
.footermenu{
  padding: 0;
  >li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    @include media-breakpoint-down(sm){
      display: block;
      text-align: center;
      margin:10px 0;
    }
    >a{
      font-size: 13px;
      color:#7e7e7e;
    }
  }
}
.footer-right{
  text-align: right;
  @include media-breakpoint-down(sm){
    text-align: center;
  }
  .social-icon{
    display: inline-block;
    list-style: none;
    margin-right: 15px;
    padding: 0;
    @include media-breakpoint-down(sm){
      display: block;
      margin:5px 0 25px;
    }
    >li{
      margin:0 10px;
      display: inline-block;
      a{
        >img{
          width:25px;
        }
      }
    }
  }
}
//Footer

